.bg-custom {
  background: #222d30;
}

.bg-custom2 {
  background: #121819;
}

body {
  color: #fff;
}

/* Navbar */
.navbar-dark .nav-item .nav-link:hover {
  background-color: #121819;
  transition: all 0.3s ease;
  border-radius: 0.25rem;
}

.navbar-nav .nav-link {
  white-space: nowrap;
}

/* Footer */
footer {
  display: flex;
  padding: 25px;
  background: #1a2325;
  justify-content: space-between;
}

.right-links {
  display: flex;
  gap: 15px;
  list-style: none;
}
